blis @ file:///C:/ci/cython-blis_1651217955756/work
brotlipy @ file:///D:/bld/brotlipy_1648854327487/work
catalogue @ file:///D:/bld/catalogue_1666891980398/work
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
cffi @ file:///D:/bld/cffi_1656782930891/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///C:/ci/click_1646038595831/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cryptography @ file:///D:/bld/cryptography_1657174166005/work
cymem @ file:///C:/ci/cymem_1651231500120/work
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
MarkupSafe @ file:///C:/ci/markupsafe_1654508077284/work
murmurhash @ file:///C:/ci/murmurhash_1651229804812/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1668697461106/work
NRCLex==3.0.0
numpy @ file:///D:/bld/numpy_1651020773031/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1668659283585/work
preshed @ file:///C:/ci/preshed_1651240545586/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///C:/b/abs_70leqwndat/croot/pydantic_1667416131535/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1663846997386/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1662230030282/work
rake-nltk @ file:///home/conda/feedstock_root/build_artifacts/rake_nltk_1636508197624/work
regex @ file:///C:/ci/regex_1658258307256/work
replicate==0.4.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1659638615822/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
spacy @ file:///C:/Windows/Temp/abs_20d98bbd-a3e1-44cd-94e3-50a19b6f62727s0xankp/croots/recipe/spacy_1656601321490/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1660748275723/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1661365735520/work
srsly @ file:///C:/ci/srsly_1651573903393/work
textblob==0.17.1
thinc @ file:///C:/ci/thinc_1651578974420/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
urllib3==1.26.12
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1668249950899/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wincertstore==0.2
